<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="Interfaces.IO" version="1.0.0.5" targetFramework="net45" />
  <package id="MediaBrowser.Common" version="3.0.629" targetFramework="net45" />
  <package id="MediaBrowser.Server.Core" version="3.0.629" targetFramework="net45" />
  <package id="MoreLinq.Portable" version="1.1.0" targetFramework="net45" />
  <package id="ServiceStack" version="4.0.42" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.0.42" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.42" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.42" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.42" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.97.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.97.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.97.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.97.0" targetFramework="net45" />
</packages>